@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';
}
.app > header {
  grid-area: header;
  background: rgba(0, 0, 0, .66);
  box-shadow: 0 1px 3px 0 rgba(44, 44, 44, 0.25);
  width: 100%;
}

.app > main {
  grid-area: main;
}
.app > footer {
  /*margin-top: 100px;*/
  grid-area: footer;
  /*background: #F1F5F9;*/
  background: rgba(0, 0, 0, .66);
  display: flex;
  justify-content: space-between;
}

article li {
  list-style: none;
  position: relative;
}

article li:before {
  content: '';
  position: relative;
  left: -8px;
  width: 6px;
  height: 6px;
  border: solid 1px #c38c02;
  top: -1px;
  display: inline-block;
  transform: rotate(45deg);
  background: #ffefc6;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}